# Pengenalan Python

In [1]:
# numerik : integer, float, complex

# Integer
angka = 7
print(angka)
type(angka)

7

int

In [2]:
angka = 46
print(angka)
type(angka)

46

int

In [4]:
# tipe float

angka_float = 4.2
print(angka_float)
type(angka_float)

4.2

float

In [5]:
# bilangan kompleks

angka_kompleks = 2+5j
print(angka_kompleks)
type(angka_kompleks)

(2+5j)

complex

In [10]:
angka = 4.7e-4
print(angka)

0.00047

# String

In [12]:
# string  : sequence of char
nama = "Prince Zeroun Penzragon"
print(nama)
type(nama)

Prince Zeroun Penzragon

str

In [17]:
hari = 'Jum\'at'
print(hari)

Jum'at

In [20]:
lirik = """
kamu dimana
dimana, dimana
dimana, dimana?"""
print(lirik)

kamu dimana
dimana, dimana
dimana, dimana?

In [31]:
# Selecting Char

nama = "Price Zeroun Penzragon"
print(nama[2])
print(nama[-2])

i
o

In [35]:
# Slicing Char

namamu = "Spider-Man : No Way Home"
print(namamu[0:6:1])
# 0 first index
# 6 end index/step -1
# 1 step

Spider

In [36]:
# String Formatting
# f-string
nama = "Spidekey"
usia = 17
print(f"Nama kamu adalah : {nama} dan usia kamu adalah {usia}")

Nama kamu adalah : Spidekey dan usia kamu adalah 17

In [39]:
print("Nama kamu adalah :", nama, "dan usia kamu adalah", usia)

Nama kamu adalah : Spidekey dan usia kamu adalah 17

# User Input Program

In [43]:
nama = input("Masukkan Nama Anda : ")
usia = input("Masukkan usia Anda : ")
print(f"Nama kakmu adalah : {nama}\nUsia kamu adalah : {usia}")

Nama kakmu adalah : wahyu
Usia kamu adalah : 18

# Boolean

In [46]:
is_married = True
print(is_married)
print(type(is_married))

True
<class 'bool'>

In [48]:
# camel case
namaLengkapPria = "Wahyudin" # class

# pascal case
NamaLengkapPria = "Wahyudin" # var

# snake case
nama_lengkap_pria = "Wahyudin" # var/function

print(namaLengkapPria, NamaLengkapPria, nama_lengkap_pria)

Wahyudin Wahyudin Wahyudin

# Operasi

In [52]:
# operasi aritmatika
angka_1 = 7
angka_2 = 2

print(f"hasil penjumlahan     : {angka_1 + angka_2}")
print(f"hasil pengurangan     : {angka_1 - angka_2}")
print(f"hasil perkalian       : {angka_1 * angka_2}")
print(f"hasil pembagian       : {angka_1 / angka_2}")
print(f"hasil pembagian bulat : {angka_1 // angka_2}")
print(f"hasil modulus         : {angka_1 % angka_2}")
print(f"hasil pangkat         : {angka_1 ** angka_2}")

hasil penjumlahan     : 9
hasil pengurangan     : 5
hasil perkalian       : 14
hasil pembagian       : 3.5
hasil pembagian bulat : 3
hasil modulus         : 1
hasil pangkat         : 49

In [56]:
# Concatenation (Penggabungan) & Repeating

string_1 = "Lalu"
string_2 = "Apa"

print(f"Concatenation : {string_1 + ' ' + string_2}")
print(f"Repeating : {string_1 * 5}")

Concatenation : Lalu Apa
Repeating : LaluLaluLaluLaluLalu

# Comparison Operator

In [58]:
a = 10
b = 8

print(f"{a} == {b} (sama dengan)             : {a == b}")
print(f"{a} != {b} (tidak sama dengan)       : {a != b}")
print(f"{a} >= {b} (lebih besar sama dengan) : {a >= b}")
print(f"{a} <= {b} (lebih kecil sama dengan) : {a <= b}")

10 == 8 (sama dengan)             : False
10 != 8 (tidak sama dengan)       : True
10 >= 8 (lebih besar sama dengan) : True
10 <= 8 (lebih kecil sama dengan) : False

# String Manipulation

In [61]:
name = "Who am I?"

In [65]:
print(name.upper())
print(name.lower())
print(name.capitalize())
print(name.title())
print(name.swapcase())

WHO AM I?
who am i?
Who am i?
Who Am I?
wHO AM i?

# Tipe Data Majemuk

In [66]:
# list & tuple
# tuple : immutable
# list  : mutable

my_tuple = (1, 2, 3.5, "Zero", True, (1,2,4))
my_list = [1, 2, 3.5, "Zero", True, (1,2,4)]

print(type(my_tuple))
print(type(my_list))

<class 'tuple'>
<class 'list'>

In [67]:
# Hitung data yang ada didalam tuple & list (string)
print(len(my_tuple))
print(len(my_list))

6
6

In [76]:
print(my_tuple)
print(my_tuple[3])
print(my_tuple[-1])
print(my_tuple[-1][2])
print(my_tuple[1:3]) # Slicing

(1, 2, 3.5, 'Zero', True, (1, 2, 4))
Zero
(1, 2, 4)
4
(2, 3.5)

In [77]:
print(my_tuple)
print(my_list)

(1, 2, 3.5, 'Zero', True, (1, 2, 4))
[1, 2, 3.5, 'Zero', True, (1, 2, 4)]

# List Method

In [85]:
# append (menambah data pada list diakhir)
a = [1, 2, 3, 4, 5]

print(a)

a.append(10)

print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 10]

In [80]:
# insert (menambah data setelah elemen atau sebelum)
a.insert(2,37)

print(a)

[1, 2, 37, 3, 4, 5, 10]

In [86]:
# menghapus data by data

print(a)

a.remove(10)

print(a)

[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5]

In [88]:
# del by position

print(a)

del a[1]

print(a)

[1, 3, 4, 5]
[1, 4, 5]

# Dictionary

In [90]:
biodata = {'nama' : 'Vay',
           'usia' : 18,
           'pekerjaan' : 'nganggur',
           'company' : 'Pt. Santai Berkualitas'}

print(biodata)         
print(biodata['nama'])  
print(biodata['pekerjaan'])

{'nama': 'Vay', 'usia': 18, 'pekerjaan': 'nganggur', 'company': 'Pt. Santai Berkualitas'}
Vay
nganggur